body, html {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    
    -webkit-text-size-adjust: none;
    touch-action: pan-y; /*prevent user scaling*/
}

body::-webkit-scrollbar {
    opacity: 0;
}

a {
    text-decoration: none;
    color: #000;
}

#opacity {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    display: none;
}

/*DESKTOP*/
@media (min-width: 1160px) and (max-width: 2056px) {

    body, html {
        overflow-y: hidden;
    }

    #hero-canvas-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 5;
        background-color: transparent;
    }

    #nav-menu {
        width: 100%;
        min-width: 100%;
    }

    #nav-menu h1 {
        position: fixed;
        top: -28px;
        left: 25px;
        font-size: 60px;
        font-weight: lighter;
    }

    #nav-list {
        margin-top: 40px;
        margin-right: 2vw;
        margin-left: 20vw;
    }

    #nav-list li {
        cursor: pointer;
        font-size: 30px;
        font-weight: lighter;
        display: inline;
    }

    #nav-list li:nth-child(2) {
        margin-left: 15vw;
    }

    #nav-list li:nth-child(1), #nav-list li:nth-child(2), #nav-list li:nth-child(3) {
        margin-right: 5vw;
        float: left;
    }

    #nav-list li:nth-child(3), #nav-list li:nth-child(4) {
        
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

    #nav-list li:nth-child(3):hover {
        color: #9e9e9e;
        cursor: default;
    }

    #nav-list li:nth-child(4):hover {
        color: #9e9e9e;
        cursor: default;
    }

    #nav-list li:last-child {
        margin-right: 0vw;
        float: right;
    }

    #nav-bar h1 {
        display: none;
    }

    #secondary-nav-menu li {
        margin-top: 4%;
    }

    .inactive {
        color: #d9d9d9;
        cursor: default;
    }

    #secondary-nav-menu {
        position: fixed;
        margin-top: 190px;
        margin-left: 26px;
        list-style: none;
        font-size: 30px;
        font-weight: lighter;
    }

    #product-connections-list {
        margin-top: 25%;
        /*UNDER CONSTRUCTION*/
    }

    #cart-container {
        position: fixed;
        margin-top: 0%;
        height: 80%;
        width: 100%;
        background-color: #fff;
        display: none;
        font-size: 80%;
        z-index: 4;
        font-family: 'Inconsolata', monospace;
        border-top: 1px solid #000;
      }

    #cart-list {
        position: absolute;
        height: 100%;
        margin-top: 1vw;
        overflow-y: scroll;
    }

    #cart-list::-webkit-scrollbar {
        opacity: 0;
    }

    #cart-list li {
        margin-left: 5vw;
        margin-bottom: 1vw;
        list-style-type: none;
    }

    #cart-list img {
        margin-top: -3%;
        float: left;
        width: 30vw;
    }

    #cart-list button {
        border: none;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 3%;
        padding-left: 3%;
        color: #fff;
        background-color: #000;
        margin-top: 3%;
        margin-right: 5%;
        font-size: 75%;
    }

    #cart-checkout-container {
        float: right;
        margin-top: 10vw;
        margin-right: 10vw;
    }

    #checkout-button {
        border: none;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 3%;
        padding-left: 3%;
        color: #fff;
        background-color: #000;
        margin-top: 3%;
        font-size: 100%;
    }

    #cart-icon {
        display: none;
    }


    #checkout-button {
        border: none;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 3%;
        padding-left: 3%;
        color: #fff;
        background-color: #000;
        margin-top: 3%;
        font-size: 100%;
    }

    #music-player {
        position: fixed;
          top: 57%;
          margin-left: 28px;
          height: 120px;
          width: 280px;
          border: 1px solid #000;
          border-radius: 10px;
          padding-right: 10px;
          padding-left: 10px;
          padding-top: 10px;
          background-color: #fff;
      }
  
      #player-inner {
          display: inline-block;
          padding-bottom: 10px;
          width: 280px;
          border-bottom: 1px solid #000;
      }
  
      #player-inner img {
          border-radius: 5px;
          float: left;
          width: 25%;
      }
  
      #player-labels {
          width: 100%;
          margin-left: 80px;
      }
  
      #player-labels h4 {
          margin-top: -8px;
          margin-bottom: -8px;
          font-weight: lighter;
          font-size: 90%;
      }
  
      #player-labels p {
          font-weight: lighter;
          color: #9e9e9e;
          font-size: 70%;
      }
  
  
      #player-controls {
          margin-right: 12px;
          text-align: right;
      }
  
      #player-controls p {
          font-size: 70%;
          display: inline-block;
          padding-bottom: 1%;
          border-bottom: 1px solid #000;
          margin-right: 5%;
      }

      footer {
        position: fixed;
        background-color: transparent;
        bottom: 25px;
        width: 100%;
        max-width: 100%;
        border-top: none;
        z-index: 7;
    }

    footer h2 {
        display: inline;
        font-weight: lighter;
        margin-right: 10vw;
        font-size: 2vw;
    }

    #footer-text {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        font-weight: lighter;
    }

    .footer-item-1 {
        text-align: left;
        float: left;
        width: 100%;
        padding-left: 30px;
    }

    .footer-item-2 {
        float: left;
        text-align: center;
        width: 100%;
    }

    .footer-item-3 {
        float: left;
        text-align: right;
        width: 100%;
        padding-right: 30px;
    }

    #footer-text h2:first-child, #footer-text h2:nth-child(2) {
        float: left;
        margin-left: 1.5vw;
    }

    #footer-text h2:nth-child(2) {
        margin-left: 16vw;
    }

    #footer-text h2:last-child {
        float: right;
        margin-right: 2vw;
    }
}

/* TABLET
@media only screen and (min-width: 768px) and (max-width: 1040px) {

    body, html {
        overflow-y: hidden;
    }

    #hero-canvas-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 5;
        background-color: transparent;
    }

    #nav-menu {
        width: 100%;
        min-width: 100%;
    }

    #nav-menu h1 {
        position: fixed;
        top: -28px;
        left: 26px;
        font-size: 60px;
        font-weight: lighter;
    }

    #nav-list {
        margin-top: 40px;
        margin-left: 35vw;
    }

    #nav-list li {
        cursor: pointer;
        font-size: 30px;
        font-weight: lighter;
        display: inline;
    }

    #nav-list li:nth-child(1), #nav-list li:nth-child(2), #nav-list li:nth-child(3) {
        margin-right: 5vw;
        float: left;
    }

    #nav-list li:last-child {
        padding-right: 30px;
        float: right;
    }

    #nav-bar h1 {
        display: none;
    }

    #secondary-nav-menu {
        position: fixed;
        margin-top: 190px;
        margin-left: 38px;
        list-style: none;
        font-size: 30px;
        display: block;
    }

    #secondary-nav-menu li {
        list-style-type: none;
        margin-left: -5%;
        margin-top: 4%;
    }

    #product-connections-list {
        margin-top: 25%;
    }

    #cart-container {
        position: fixed;
        margin-top: 0%;
        height: 80%;
        width: 100%;
        background-color: #fff;
        display: none;
        font-size: 80%;
        z-index: 4;
        font-family: 'Inconsolata', monospace;
        border-top: 1px solid #000;
      }

    #cart-list {
        position: absolute;
        height: 100%;
        margin-top: 1vw;
        overflow-y: scroll;
    }

    #cart-list::-webkit-scrollbar {
        opacity: 0;
    }

    #cart-list li {
        margin-left: 5vw;
        margin-bottom: 1vw;
        list-style-type: none;
    }

    #cart-list img {
        margin-top: -3%;
        float: left;
        width: 30vw;
    }

    #cart-list button {
        border: none;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 3%;
        padding-left: 3%;
        color: #fff;
        background-color: #000;
        margin-top: 3%;
        margin-right: 5%;
        font-size: 75%;
    }

    #cart-checkout-container {
        float: right;
        margin-top: 10vw;
        margin-right: 10vw;
    }

    #cart-icon {
        display: none;
    }

    #checkout-button {
        border: none;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 3%;
        padding-left: 3%;
        color: #fff;
        background-color: #000;
        margin-top: 3%;
        font-size: 100%;
    }

    #music-player {
        position: fixed;
        top: 500px;
        margin-top: 5px;
        margin-left: 30px;
        height: auto;
        width: 250px;
        min-width: 250px;
        border: 1px solid #000;
        border-radius: 10px;
        padding-right: 80px;
        padding-left: .5%;
        padding-top: .5%;
        padding-bottom: 5px;
        background-color: #fff;
      }
  
      #player-inner {
          display: inline-block;
          padding-bottom: 3%;
          width: 320px;
          min-width: 320px;
          border-bottom: 1px solid #000;
      }
  
      #player-inner img {
          border-radius: 5px;
          float: left;
          width: 85px;
      }
  
      #player-labels {
          width: 100%;
          margin-top: 7%;
          margin-left: 28%;
      }
  
      #player-labels h4 {
          margin-top: -.1%;
          margin-bottom: -.1%;
          line-height: .1%;
          font-weight: lighter;
          font-size: 110%;
      }
  
      #player-labels p {
          font-weight: lighter;
          color: #9e9e9e;
          font-size: 70%;
      }

      #player-labels p:nth-child(3) {
          font-size: 73%;
      }
  
  
      #player-controls {
          margin-top: -1%;
          margin-right: -25%;
          text-align: right;
      }
  
      #player-controls p {
          font-size: 75%;
          display: inline-block;
          padding-bottom: .3%;
          border-bottom: 1px solid #000;
          margin-right: 5%;
      }

      #player-controls p:nth-child(1) {
          margin-right: 10%;
      }
      footer {
        position: fixed;
        background-color: transparent;
        bottom: 25px;
        width: 100%;
        max-width: 100%;
        border-top: none;
        z-index: 7;
    }

    footer h2 {
        display: inline;
        font-weight: lighter;
        margin-right: 10vw;
        font-size: 2vw;
    }

    #footer-text {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        font-weight: lighter;
    }

    .footer-item-1 {
        text-align: left;
        float: left;
        width: 100%;
        padding-left: 30px;
    }

    .footer-item-2 {
        float: left;
        text-align: center;
        width: 100%;
    }

    .footer-item-3 {
        float: left;
        text-align: right;
        width: 100%;
        padding-right: 30px;
    }

    #footer-text h2:first-child, #footer-text h2:nth-child(2) {
        float: left;
        margin-left: 1.5vw;
    }

    #footer-text h2:nth-child(2) {
        margin-left: 16vw;
    }

    #footer-text h2:last-child {
        float: right;
        margin-right: 2vw;
    }
} */

/*MOBILE*/
@media only screen and (min-width: 200px) and (max-width: 1160px) {

    html {
        overflow-y: hidden;
        padding: 0;
        margin: 0;
    }

    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .desktop {
        display: none;
    }

    #nav-list {
        padding-top: 15px;
        height: auto;
        background-color: #000;
        margin-top: -10px;
    }

    #nav-list h1 {
        display: none;
    }

    #nav-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }

    #nav-menu ul {
        padding-left: 0;
    }

    #nav-menu li {
        padding-left: 10px;
        margin-top: -5px;
        list-style-type: none;
    }

    #nav-menu li:nth-child(1), #nav-menu li:nth-child(2), #nav-menu li:nth-child(3), #nav-menu li:nth-child(4) {
        color: #fff;
        list-style: none;
        border-bottom: 1px solid #fff;
        margin-bottom: 13px;
        font-weight: lighter;
    }

    nav {
        position: fixed;
        top: -100px;
        left: 0;
        z-index: 6;
        width: 100%;
        height: 100px;
        display: block;
    }

    #nav-bar {
        position: fixed;
        width: 100%;
        height: 30px;
        top: 0;
        left: 0;
        z-index: 6;
        padding-bottom: 15px;
        box-shadow: 0 6px 10px -10px gray;
        background-color: #fff;
    }

    #nav-bar h1 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-weight: lighter;
    }

    #cart-icon {
        float: right;
        margin-right: 55px;
        margin-top: -33.6px;
        padding-left: 1%;
        padding-right: 1%;
        width: auto;
        border: 1px solid #000;
        border-radius: 5px;
        font-family: 'Inconsolata', monospace;
        font-weight: bolder;

        -webkit-transition: all .4s ease;
        -mos-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

    canvas {
        position: fixed;
        top: -15%;
        left: 0%;
    }

    #music-player {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 350px; 
        height: 120px;
        width: 280px;
        border: 1px solid #000;
        border-radius: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        background-color: #fff;
        z-index: 5;
    }

    #player-inner {
        display: inline-block;
        padding-bottom: 10px;
        width: 280px;
        border-bottom: 1px solid #000;
    }

    #player-inner img {
        border-radius: 5px;
        float: left;
        width: 25%;
    }

    #player-labels {
        width: 100%;
        margin-left: 80px;
    }

    #player-labels h4 {
        margin-top: -8px;
        margin-bottom: -8px;
        font-weight: lighter;
        font-size: 90%;
    }

    #player-labels p {
        font-weight: lighter;
        color: #9e9e9e;
        font-size: 70%;
    }


    #player-controls {
        margin-right: 12px;
        text-align: right;
    }

    #player-controls p {
        font-size: 70%;
        display: inline-block;
        padding-bottom: 1%;
        border-bottom: 1px solid #000;
        margin-right: 5%;
    }

    #cart-container {
        position: fixed;
        margin-top: -3vw;
        height: 100%;
        width: 100%;
        background-color: #fff;
        display: none;
        font-size: 80%;
        z-index: 4;
        font-family: 'Inconsolata', monospace;
        border-top: 1px solid #000;
      }

    #cart-list li {
        margin-left: -5%;
        list-style-type: none;
    }

    #cart-list img {
        margin-top: -3%;
        float: left;
        width: 40%;
    }

    #cart-list button {
        border: none;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 3%;
        padding-left: 3%;
        color: #fff;
        background-color: #000;
        margin-top: 3%;
        margin-right: 5%;
        font-size: 75%;
    }

    #cart-checkout-container {
        margin-top: 40%;
        margin-left: 5%;
    }

    #checkout-button {
        border: none;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-right: 3%;
        padding-left: 3%;
        color: #fff;
        background-color: #000;
        margin-top: 3%;
        font-size: 100%;
    }

    footer {
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 100px;
        box-shadow: 0 -6px 10px -10px gray;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 15px;
        background-color: #fff;
        z-index: 10;
    }

    #footer-text {
        margin-top: 10px;
        font-size: 23px;
    }

    footer h2 {
        line-height: 10px;
        font-weight: lighter;
        font-size: 125%;
    }
}